{% extends 'base.html.twig' %}

{% block body %}
	<style>
	.contact{
		text-align: center;
		margin-top: 100px;
	}
	</style>
	<div class="contact">
		Neil Patrick U. Ballicud <br>
		npballicud@gmail.com <br>
		+63 927 860 0073
	</div>
{% endblock %}